output/La Fuga.m3u
output/La Fuga/La Fuga - Buscando en la basura.mp3
output/La Fuga/La Fuga - Majareta.mp3
output/La Fuga/La Fuga - P'aquí p'allá.mp3
output/La Fuga/La Fuga - Por verte sonreír.mp3
libs/spotdl-4.2.4-linux
